.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  height: 100vh;
}
.left{
  padding-top: 20px;
}
.left,.right{
  display: flex;
  align-items: center;
  justify-content: center;
padding-left: 40px;
padding-right: 40px;
}
.right>img{
  width: 1200px;
}
.btnContainer{
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
  }
}

