.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}
.left{
  padding-top: 20px
}
.left,.right{
  display: flex;
  align-items: center;
}
.right>img{
  resize:both;
  width: 700px;
}
.btnContainer{
  margin-top: 40px;
}

@media screen and (max-width: 480px) {

}

