.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    color: #00b7f0;
}

.logo img{
    margin-left: -13px;
    width: 60px;
    margin-right: 7px;  
    filter: invert(46%) sepia(50%) saturate(3923%) hue-rotate(165deg) brightness(95%) contrast(101%);
}