.profileSection {
  display: flex;
}
.left {
  border-right: 1px solid #07aadb;
}
.left,
.right {
  padding: 20px 50px;
}
.avatarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.userItem {
  justify-self: flex-start;

  margin: 30px 0;
}
.label {
  font-weight: 600;
  line-height: 0;
}

.upload {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #00b7f0;
  color: white;
}
