.navbar {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.logo img {
  margin-left: 20px;
  width: 40px;
  margin-right: 7px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(216deg)
    brightness(104%) contrast(103%);
}
.switch {
  color: white;
}
.icon {
  margin-right: 15px;
  cursor: pointer;
}
