.sidebar{
    background-color: #ddeef3;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}


.link{
    text-decoration: none;
    color: #00B7F0;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}
.link img{
    width: 20px;
    margin-right: 8px;
}
.link:hover{
    margin-bottom: 10px;
    padding: 10px;
    letter-spacing: 1px;
}