.sidebar {
  background-color: #ddeef3;
}
.offcanvas {
  width: 300px !important;
  max-width: 300px !important;
  --bs-offcanvas-width: 300px !important;
}
.header {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #e3e7ee;
}
.header img {
  width: 80px;
  height: 80px;
}
.header h5 {
  margin-top: 10px;
  font-weight: 600;
}
.header p {
  margin-bottom: 0;
}
.link {
  text-decoration: none;
  color: #00b7f0;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}
.link img {
  width: 20px;
  margin-right: 8px;
}
.link:hover {
  margin-bottom: 10px;
  padding: 10px;
  letter-spacing: 1px;
}
